<section class="bg-dark">
   <div class="container min-vh-100">
      <div class="col-12 text-white text-center p-5">
              <h3>Random Colors</h3>
              <p>Click to copy</p>
      </div>
    <div class="row d-flex">
      <div *ngFor="let colors of colorArray; index as i" class="col-lg-4 col-md-4  p-1 "
       (click)="copyColor(colors)">
       <div class="box" [ngStyle]="{'background-color': colors}">
         <p class="text-center text-white">{{colors}}</p>
       </div>
         
      </div>
    </div>
    <div class="row">
       <div class="text-center p-5">
             <button class="btn btn-success" type="button" (click)="loadColor()">Create</button>
       </div>
    </div>
   </div>
</section>